.profile-img {
  height: 30px;
  margin-right: 10px;
}

.profile-container {
  display: flex;
}

button {
  height: 30px;
  color: white;
  background-color: blue;
  border: None;
  border-radius: 5px;
  width: 100px;
}
